<!DOCTYPE html>
<html>
  <head>
    <title>Simple Shopping Cart with Tailwind</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <div id="app" class="container mx-auto p-8">
      <h1 class="text-3xl font-extrabold mb-6">Produits disponibles</h1>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div
          v-for="product, index in products"
          :key="product"
          class="bg-white p-4 rounded-lg shadow-md"
        >
          <h2 class="text-xl font-semibold mb-2">{{product.name}}</h2>
          <p class="text-gray-600 mb-4">{{product.price}}€</p>
          <button
            @click="addItem(product)"
            class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700"
          >
            Ajouter au panier
          </button>
        </div>
      </div>

      <h1 class="text-3xl font-extrabold mt-12 mb-6">Panier</h1>
      <ul class="bg-white p-4 rounded-lg shadow-md">
        <li
          v-for="cartIndex in cart"
          :key="cartIndex"
          class="flex items-center justify-between border-b py-4"
        >
          <span class="text-lg font-medium">{{cartIndex.name}}</span>
          <span class="text-gray-600">{{cartIndex.price}}€</span>
          <input
            v-model="cartIndex.quantity"
            type="number"
            value="{{cartIndex.quantity}}"
            class="w-16 text-center border rounded"
          />
          <button class="text-red-500 hover:text-red-600">Retirer</button>
        </li>
      </ul>
      <h2 class="text-2xl font-extrabold mt-6">Total : {{getTotalPrice}} €</h2>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        data() {
          return {
            products: [
              {
                id: 0,
                name: "Chargeur",
                price: 50,
              },
              {
                id: 1,
                name: "Phone",
                price: 150,
              },
              {
                id: 2,
                name: "Ordi",
                price: 500,
              },
            ],
            cart: JSON.parse(localStorage.getItem("cart")) || [],
          };
        },
        computed: {
          getTotalPrice() {
            return this.cart.reduce((a, cart) => {
              return a + (cart.price * cart.quantity)
            },0).toFixed(2);
          },
        },
        methods: {
          addItem(product){
            
            if(product == this.cart.find((cartItem) => cartItem.name == product.name)){
              const productId = product.id;
              this.cart.find((cartItem) => cartItem.id == productId).quantity++
            }
            else{
              this.cart.push(product);
              product.quantity = 1;
            }
          }
        }
      }).mount("#app");
    </script>
  </body>
</html>
